.list:hover{
  background: lightcyan;
  box-shadow: 3px 6px rgba(0,0,0,0.5);
}

.list{
  border: 1px solid black;
  border-radius: 1em;
  background-color: LightSteelBlue;
  font-size: 1em;
  padding: .75rem 1.25rem;
  /* margin: 0 0 .5rem 0; */
  /* vertical-align: middle; */
  text-align: center;
  cursor: pointer;
  line-height: 1;
  margin-top: 5px;
}

.cont{
  height: 115vh;
  background-color: LightSteelBlue;
  padding-right: 3%;
}

.elem{
  text-align: center;
  font-weight: bold;
}
